@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

/***********************************************************
                        Global styles
***********************************************************/
* {
    box-sizing: border-box;
}

/*body * {
    outline: 1px dotted red;
}*/

body {
    line-height: 1.2;
    font-family: "Helvetica Neue", Arial, Montserrat, sans-serif;
    font-size: 23px;
    background-color: white;
    color: #111111;
}

/***********************************************************
                            Layout
***********************************************************/

/************** Home section*************/
#home {
    margin-bottom: 50px;
}

.holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.holder img {
    display: table;
    margin: auto;
    vertical-align: middle;
}

#homeimg {
    display: table;
    margin: auto;
    vertical-align: middle;
}

h1 {
    display: table;
    margin: auto;
    vertical-align: middle;
    position: absolute;
    width: 100%;
}

nav .container {
    position: relative;
}

#custom-btn {
    cursor: pointer;
    position: absolute;
    height: 20px;
    width: 60px;
    top: 40px;
    right: 10px;
    display: block;
    float: right;

}

#custom-btn span {
    display: block;
    width: 60px;
    height: 2px;
    margin-bottom: 10px;
    border-radius: 3px;
    position: absolute;
    background-color: #666;
    transition: all .5s ease;
}

#custom-btn span:nth-child(1) {
    top: 0;
}

#custom-btn span:nth-child(2) {
    top: 8px;
}

#custom-btn span:nth-child(3) {
    top: 16px;
    margin-bottom: 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    cursor: pointer;
}

nav ul.dropdown-menu {
    position: absolute;
    top: 80px;
    left: auto;
    right: 0;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: right;
    max-width: 270px;
    margin: 0;
    padding: 20px;
    z-index: 9;
    color: #000000;
    box-shadow: none;
    border: none;
}

ul.dropdown-menu li a:hover {
    text-decoration: underline;
    background-color: transparent;
}

.dropdown-menu li a {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.7;
}

a {
    color: black;
}

/************ Home section END************/

/********** About section **********/
#about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

#about p {
    line-height: 1.4;
    margin: 0;
    padding-top: 5px;
}

#about p:first-child {
    margin-bottom: 25px;
}

#about span {
    font-size: 35px;
    line-height: 0.9;
    font-weight: 700;
}

#about .container {
    position: relative;
}

.h2-holder {
    margin: 0;
}

h2 {
    color: #111111;
}

/********** About section END **********/

/********** Work section ***********/

#work {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.holder3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;

}

h3 {
    font-size: 140px;
    font-weight: 700;
    float: right;
    margin: 0;
    padding-bottom: 30px;
    color: #111;
}

#work a {
    font-size: 30px;
    font-weight: 700;
    padding: 20px;
    color: #111;
}

#work a:focus {
    outline: none;
}

#img-holder {
    position: relative;
}

#img-holder div {
    float: left;
    width: 25%;
}

#img-holder a {
    padding: 0;
}

#work img {
    float: left;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
}

#work img:hover {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
    cursor: zoom-in;
}

#work img:focus {
    outline: none;
}
.mfp-bottom-bar .mfp-title {
    font-size: 18px;
    line-height: 1.2;
}
/********** Contact section *********/
#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#contact .container {
    position: relative;
}

.form-group {
    margin-bottom: 12px;
}

#SenderName {
    display: block;
    width: 100%;
    height: 40px;
    padding: 5px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #000000;
    background-color: #fff;
    border: 3px solid #000000;
    border-radius: 0;
}

#contact-form #SenderName {
    box-shadow: none;
}

#contact .h2-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

#SenderEmail {
    display: block;
    width: 100%;
    height: 40px;
    padding: 5px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #111111;
    background-color: #ffffff;
    border: 3px solid #111111;
    border-radius: 0;
}

#contact-form #SenderEmail {
    box-shadow: none;
}

#contact-form #SenderMessage {
    box-shadow: none;
    display: block;
    width: 100%;
    height: 400px;
    padding: 5px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #111111;
    background-color: #fff;
    border: 3px solid #111111;
    border-radius: 0px;
}

#contact .btn-primary {
    color: #ffffff;
    height: 40px;
    background-color: #111;
    border: 3px solid #111111;
    display: block;
    padding: 2px 12px;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 0;
    margin-bottom: 50px;
    transition: all 0.3s ease;
}

#contact .btn-primary:hover {
    color: #111111;
    background-color: #ffffff;
}

.alert-success {
    color: #111111;
    background-color: #ffffff;
    border-color: #ffffff;

}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

/********** Contact section END *********/
/* Footer */
#main-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-footer ul {
    float: left;
    list-style: none;
    text-decoration: none;
    padding-left: 20px;
}

.main-footer ul li {
    padding-right: 20px;
    float: right;
}

#small {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
}

/* Footer END */
/***********************************************************
                    Specific styles
***********************************************************/

nav ul {
    list-style: none;
}

.container ul {
    list-style: none;
}

/***********************************************************
                        Helper classes
***********************************************************/

/*Extra small*/
@media (min-width: 320px) and (max-width: 992px) {

    nav ul.dropdown-menu {
        position: absolute;
        top: 0;
        left: auto;
        right: 0;
        background-color: rgba(255, 255, 255, 0.7);
        text-align: center;
        min-width: 100%;
        margin: 0;
        padding: 20px;
        z-index: 9;
        color: #000000;
        box-shadow: none;
        border: none;
    }

    .about {
        font-size: 80px;
        font-weight: 700;
        margin-bottom: 50px;
    }

    .holder2 {
        margin-bottom: 50px;
    }

    .h2-holder {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h3 {
        font-size: 80px;
    }

    #img-holder div {
        width: 100%;
    }

    .holder3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .contact {
        font-size: 70px;
        font-weight: 700;
    }

    .alert-success {
        color: #111111;
        background-color: #ffffff;
        border-color: #ffffff;
        font-size: 55px;
        line-height: 1.2;
    }
}

/*small*/
@media (min-width: 768px) {
    .about {
        font-size: 140px;
        font-weight: 700;
        transform: rotate(-90deg);
        transform-origin: left bottom;
        position: absolute;
        left: 121px;
        top: 320px;
    }
    h3 {
        font-size: 140px;
    }

    #img-holder div {
        width: 50%;
    }

    .contact {
        font-size: 140px;
        font-weight: 700;
        transform: rotate(-90deg);
        transform-origin: left bottom;
        position: absolute;
        left: 121px;
        top: 500px;
    }

    #contact {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .alert-success {
        color: #111111;
        background-color: #ffffff;
        border-color: #ffffff;
        font-size: 90px;
        line-height: 1.2;
    }
}

/*medium*/
@media (min-width: 992px) {
    #img-holder div {
        width: 25%;
    }

    nav ul.dropdown-menu {
        position: absolute;
        top: 80px;
        left: auto;
        right: 0;
        background-color: rgba(255, 255, 255, 0.7);
        text-align: right;
        max-width: 270px;
        margin: 0;
        padding: 20px;
        z-index: 9;
        color: #000000;
        box-shadow: none;
        border: none;
    }
}

/*large*/
@media (min-width: 1200px) {
    #img-holder div {
        width: 25%;
    }
}

